@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    SIEMENS HI Inventory Project <br />
    DTS AUDIOLOGY Connexx Team Testers<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<TEAM>
    <strong>Shivakumar:</strong> <a href="mailto:shivakumar.khanapur@siemens.com">shivakumar.khanapur@siemens.com</a><br />
        <strong>Gaurav:</strong> <a href="mailto:kumargaurav@siemens.com">kumargaurav@siemens.com</a><br />
        <strong>Anuradha:</strong> <a href="mailto:anuradha.jha@siemens.com">anuradha.jha@siemens.com</a><br />
        <strong>Saumya:</strong> <a href="mailto:saumya@siemens.com">saumya@siemens.com</a><br />
        <strong>Yogesh:</strong> <a href="mailto:yogesh.vbhat@siemens.com">yogesh.vbhat@siemens.com</a>
</TEAM>
